.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.label {
  display: inline-flex;
  align-items: center;
}

.select {
  border-radius: 999px;
  padding: 2px 24px 2px 16px;
  background: #121212;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #ffffff  50%),
    linear-gradient(135deg, #ffffff 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 15px) 55%, calc(100% - 10px) 55%, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}

.select:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: 2px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
